<%= form_for @url,url:{action:"create"},remote:true do |f| %>
<div class="col-md-12">
<div class="input-group input-group-lg">
<%= f.text_field :longurl,id:"longurlvalue",class:"form-control",placeholder:"Please input the Url" %>
<span class="input-group-btn">
<%= f.submit "Shorten", class:"btn btn-primary", onclick:"checkUrl()" %>
</span>
<% end %>
</div>
</div>
<script>


function checkUrl(){
	$(document).ready(function() {
      longurls = $('#longurlvalue').val()
    });
	
	if (longurls=="")
	{
		alertify.alert("Url can not be blank");

	}
	else
	{
		alertify.success("Shorten Url Successfully!");
	}

}
</script>
