<%= form_for CustomUrl.new,url:{controller:"custom_urls",action:"create"},remote:true do |f| %>
<%= f.text_field :longurl,id:"customlongurl",class:"form-control input-lg",placeholder:"Please input the Url" %>
</br>
<div class="input-group input-group-lg">
<%= f.text_field :shorturl,id:"customshorturl",class:"form-control",placeholder:"Please input the Custom Url" %>
<span class="input-group-btn">
<%= f.submit "Shorten", class:"btn btn-primary", onclick:"checkCustomUrl()" %>
</span>
<% end %>
</div>

