// Place all the styles related to the shortenurl controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shorten {
	margin-top:210px;
}
.showurl {
	padding-top:80px;
	padding-left:15px;
}
.urlhead {
	font-size:15px;
}
.url {
	padding-left:5px;
	font-size:25px;
	color:#008899
}
.copy-btn {
	margin-left:30px;
}