<!DOCTYPE html>
<html>
<head>
  <title>Shortenurl</title>
  <link href='http://fonts.useso.com/css?family=Permanent+Marker|Anton|Days+One|Candal|Vidaloka|Archivo+Black|Signika:700|Patua+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="home">
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-8 col-md-offset-2">
<%= yield %>
</div>
</div>
</div>
</body>
</html>
